@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=League+Gothic&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,600&family=Poppins:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.8rem 2rem;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(53, 14, 197, 0.15);
  box-shadow: 2px 6px 15px -1px rgba(53, 14, 197, 0.15);
  
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 1,5px;
}

.logo:hover {
  color: rgba(53, 14, 197, 0.15);
  transition: 0.5s;
}


.header-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul li a {
  padding: 2rem;
  color: rgb(28, 8, 97);
  font-size: larger;
}

ul li a:hover {
  
  color: rgba(54, 14, 197, 0.664);
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(53, 14, 197, 0.15);
  transition: 0.5s;
}


#main-container {
  margin: 0 6%;
  padding: 2rem;
}

.main-form {
  padding-top: 1rem;
}

.main-title {
  font-family: 'Poppins', sans-serif;
  padding: 4% 0;
}

.form-section {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  flex-direction: column;

}

.form-nome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-local,
.form-ingresso {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form {
  margin: 1.5rem;
}

legend {
  margin-bottom: 1rem;
}

input,
select {
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  border: 1.7px solid rgba(54, 14, 197, 0.356);
}

textarea {
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  padding: 1rem 10rem;
  border: 1.7px solid rgba(54, 14, 197, 0.356);
}

#email {
  width: 600px;
}

#endereco {
  display: block;
  width: 390px;
}

.mensagem {
  margin-top: 3rem;
}

.btn-enviar {
  display: flex;
  font-size: 5;
  font-weight: 700;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.767);
  border: 1px solid rgba(53, 14, 197, 0.15);
  border-radius: 9px;
  background-color: rgba(54, 14, 197, 0.822);
}

.btn-enviar:hover {
  background-color: rgb(54, 14, 197);
  transition: 1s;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  margin-top: 5rem;
  color: rgba(54, 14, 197, 0.788);
  background: white;
  box-shadow: inset 0px 2px 10px -1px rgba(53, 14, 197, 0.15);
  border-top: 1px solid rgba(53, 14, 197, 0.15);
}

.text-footer {
  font-size: smaller;
}





